.static-header-tbody-wrapper{
    overflow-y:scroll;
    overflow-x: hidden;
}

.static-header-thead-wrapper{
    overflow-y:scroll;
    overflow-x: hidden;
}

.static-header-scroller{
    overflow-x: auto;
}

.static-header-scroll-content{
    height: 0px;
}